@model UniSystemTest.Models.ScoreResults

@{
    ViewData["Title"] = "Delete";
}

@functions {
    public string GetGender(bool isMale)
    {
        return isMale ? "Male" : "Female";
    }
}


<h1>Delete Score Results</h1>


<h3 style="color: red">Are you sure you want to delete this?</h3>
<div>
    <hr />
    <div>
        <dl class="row" style="font-size: 20px">
            <dt class="col-sm-2">
                <strong>Student Name</strong>
            </dt>
            <dd class="col-sm-10">
                :  <strong>@Html.DisplayFor(model => model.Students.studentName) </strong>
            </dd>

            <dt class="col-sm-2">
                <strong>Student Email </strong>
            </dt>
            <dd class="col-sm-10">
                :  <strong>@Html.DisplayFor(model => model.Students.email) </strong>
            </dd>

            <dt class="col-sm-2">
                <strong>Gender</strong>
            </dt>
            <dd class="col-sm-10">
                :  <strong>@GetGender(Model.Students.gender) </strong>
            </dd>

            <dt class="col-sm-2">
                <strong>Course Name</strong>
            </dt>
            <dd class="col-sm-10">
                :  <strong>@Html.DisplayFor(model => model.Courses.courseName)  </strong>
            </dd>

            <dt class="col-sm-2">
                <strong>Mark </strong>
            </dt>
            <dd class="col-sm-10">
                :   <strong> @(Model.mark == null ? " NIL " : @Html.DisplayFor(model => model.mark))  </strong>
            </dd>

            <dt class="col-sm-2">
                <strong>Grade </strong>
            </dt>
            <dd class="col-sm-10">
                :   <strong>@(Model.grade == null ? " NIL " : @Html.DisplayFor(model => model.grade)) </strong>
            </dd>
        </dl>
    </div>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="scoreResultId" />
        <input type="submit" value="Delete" class="btn btn-danger" style="margin-right:3px;" />
        <a asp-action="Index" class="btn btn-secondary" style="margin-left:3px;">Cancel</a>
    </form>
</div>
