@model UniSystemTest.Models.ScoreResults

@{
    ViewData["Title"] = "Details";
}

@functions {
    public string GetGender(bool isMale)
    {
        return isMale ? "Male" : "Female";
    }
}

<h1>Score Result Details</h1>
<hr />
<br />
<div>
    <dl class="row" style="font-size: 20px">
        <dt class="col-sm-2">
            <strong>Student Name</strong>
        </dt>
        <dd class="col-sm-10">
            :  <strong>@Html.DisplayFor(model => model.Students.studentName) </strong>
        </dd>

        <dt class="col-sm-2">
            <strong>Student Email </strong>
        </dt>
        <dd class="col-sm-10">
            :  <strong>@Html.DisplayFor(model => model.Students.email) </strong>
        </dd>

        <dt class="col-sm-2">
            <strong>Gender</strong>
        </dt>
        <dd class="col-sm-10">
            :  <strong>@GetGender(Model.Students.gender)  </strong>
        </dd>

        <dt class="col-sm-2">
            <strong>Course Name</strong>
        </dt>
        <dd class="col-sm-10">
            :  <strong>@Html.DisplayFor(model => model.Courses.courseName)  </strong>
        </dd>

        <dt class="col-sm-2">
            <strong>Mark </strong>
        </dt>
        <dd class="col-sm-10">
            :   <strong> @(Model.mark == null ? " NIL " : @Html.DisplayFor(model => model.mark))  </strong>
        </dd>

        <dt class="col-sm-2">
            <strong>Grade </strong>
        </dt>
        <dd class="col-sm-10">
            :   <strong>@(Model.grade == null ? " NIL " : @Html.DisplayFor(model => model.grade)) </strong>
        </dd>
    </dl>
</div>

<div style="padding-top: 20px">
    <a asp-action="Index" class="btn btn-primary style="margin-right:3px;">Back</a>
 @*    <a asp-controller="Teachers" asp-action="TeacherDetails" asp-route-id="@Model.Teachers.teacherId" class="btn btn-secondary" style="margin-right:3px;">Click here to View More .....</a> *@
</div>
