@model UniSystemTest.Models.TeacherCourseViewModel

@{
    ViewData["Title"] = "Details";
}


@functions {
    public string GetGender(bool isMale)
    {
        return isMale ? "Male" : "Female";
    }
}

<h1>Teacher Details</h1>
<hr />
<br />
<div>
    <dl class="row" style="font-size: 20px">
        <dt class="col-sm-2">
            <strong>Teacher Name </strong>
        </dt>
        <dd class="col-sm-10">
            :  <strong>@Html.DisplayFor(model => model.Teachers.teacherName) </strong>
        </dd>

        <dt class="col-sm-2">
            <strong>Teacher Email </strong>
        </dt>
        <dd class="col-sm-10">
            :  <strong>@Html.DisplayFor(model => model.Teachers.email) </strong>
        </dd>

        <dt class="col-sm-2">
            <strong>Gender </strong>
        </dt>
        <dd class="col-sm-10">
            :  <strong>@GetGender(Model.Teachers.gender) </strong>
        </dd>
    </dl>

    <h1 style="padding-top:20px">Course Lists</h1>
    <hr />
    @if (!Model.Courses.Any())
    {
        <div class="text-center mt-5">
            <p style="font-size: 35px; color: red; margin-top: 30px">No data available</p>
        </div>
    }
    else
    {
        <table class="table table-striped">

            <thead>
                <tr>
                    <th>
                        Course Name
                    </th>
                    <th>
                        Teacher Name
                    </th>
                    <th>
                        Teacher Email
                    </th>
                    <th>Course Status</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var course in Model.Courses)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => course.courseName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => course.Teachers.teacherName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => course.Teachers.email)
                        </td>
                        <td>
                            @(course.IsDeleted ? "Inactive" : " Active")
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }

</div>


@* pagination  *@
<div class="d-flex justify-content-center">
    @if (ViewBag.TotalPages > 1)
    {
        <ul class="pagination">
            @if (ViewBag.CurrentPage > 1)
            {
                <li class="page-item">
                    <a class="page-link" asp-controller="Teachers" asp-action="Details" asp-route-pageNum="@(ViewBag.CurrentPage - 1)" asp-route-pageSize="@ViewBag.PageSize">Previous</a>
                </li>
            }

            @for (int i = 1; i <= ViewBag.TotalPages; i++)
            {
                <li class="page-item @(i == ViewBag.CurrentPage ? "active" : "")">
                    <a class="page-link" asp-controller="Teachers" asp-action="Details" asp-route-pageNum="@i" asp-route-pageSize="@ViewBag.PageSize">@i</a>
                </li>
            }

            @if (ViewBag.CurrentPage < ViewBag.TotalPages)
            {
                <li class="page-item">
                    <a class="page-link" asp-controller="Teachers" asp-action="Details" asp-route-pageNum="@(ViewBag.CurrentPage + 1)" asp-route-pageSize="@ViewBag.PageSize">Next</a>
                </li>
            }
        </ul>
    }
</div>

<div style="padding-top: 20px">
    <a asp-action="Index" class="btn btn-primary">Back</a>
</div>

